<header class="header">
            <div class="container logo-navegador">
                <nav class="menu">
                    <ul>
						
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Ingresar</a></li>
                        <li><a href="catalogo">Catalogo</a></li>
                        <li><a href="#">Carrito</a></li>
                    </ul>
                </nav>
                <a href="#" class="logo">
                    <img class="imagen-encabezado" src="assets/media/imagen/Koala.png">
                </a>
			</div>
			 </header>
        <h1>El futuro no es desechable</h1>

