body{
    background:url("../media/imagen/fondo\ verde.jpg") ;
    background-attachment: fixed;
    background-size: 106%;
    margin: 0%;
    color: azure;
    overflow: auto;
}

body::-webkit-scrollbar{
    background: rgb(42, 63, 107);
}
body::-webkit-scrollbar-thumb{
    background: rgba(0, 139, 139, 0.4);
}
body::-webkit-scrollbar-thumb:hover{
    background: rgba(93, 187, 187, 0.8);
}

header{
    text-align: center;
    background: rgba(255, 255, 255, 0.329);
    border: 0.5px rgba(255, 255, 255, 0) solid;
}

#titulo{

    border-top: 2px darkgreen dotted;
    border-bottom: 2px darkgreen dotted;
    padding-bottom: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-table   ;
    width: 50%;
    background: rgba(0, 139, 139, 0.103);
    font-size: large;
}
h1{
    padding: 0%;
    margin: 0%;
}

/* ------------------------  menu -------------------------*/
#menu{
    margin-left: 10%;
    width: 80%;
    background: rgba(0, 139, 139, 0.397);
    padding: 0%;
    border: 3px rgba(0, 139, 139, 0.4) dotted;
}
#menu:hover{
    background: rgba(57, 122, 124, 0.596);
}


nav ul{
    padding: 0;
    list-style: none;
}
nav li{
    line-height: 2em;
    padding: 0 7%;
}
nav a{
    width: 100%;
    display: block;
    text-decoration: none;
    border-radius: 10%;
    color: aliceblue;
    background: rgba(65, 82, 138, 0.507);
    font-size: 25px; 
}
nav a:hover{
    border-radius: 45%;
    background: rgb(54, 68, 114);
    border: none;
    color: azure;
}

nav li:hover > ul{
    display: block;
}

nav > ul{
    width: 100%;
    display: table;
}

nav >ul >li{
    display: inline-table;

}

nav li ul{
    display: none;
    margin: 5px 0;
}

nav >ul >li> a{
    padding: 0px 20px;
}

nav li ul li{
    padding-top: 15px 
}

/*---------------------------------------------------*/

#section1{
    float: right;
    margin-right: 30px;
    text-align: justify;
    width: 63.5%;
    margin-top: 15px;   
}

.cuadro{
    background: rgba(128, 128, 128, 0.3);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 15%;
    margin-bottom: 10px;
}
.cuadro:hover{
    background: rgba(128, 128, 128, 0.5);;
}

#section2{
    padding: 0%;
    float: left;
    height: 800px;
    margin-left: 15px;
    overflow: auto;
    width: 30.1%;
    background: rgba(85, 107, 47, 0.5);
    position: static;
    margin-top: 15px;
    margin-bottom: 15px;

}
#section2:hover{
    background: rgba(85, 107, 47, 0.7);
}

#section2::-webkit-scrollbar{
    background: rgba(128, 128, 128, 0.2);
}
#section2::-webkit-scrollbar-thumb{
    background: rgba(0, 100, 0, 0.4);
}
#section2::-webkit-scrollbar-thumb:hover{
    background: rgba(60, 143, 60, 0.65);
}

#section2 > h2{
    text-align: center;
    border-bottom:2px azure solid;
    width: 80%;
    padding-bottom: 10px;
    margin: 10%;
    margin-bottom: 0%;

}

#table_category{
    margin: 0%;
    width: 80%;
}

.category{
    display: block;
    padding: 25px 0px;
    position: relative;
    left: 2em;
}

.cat{
    display: inline;
    font-size: 28px;
    padding-right: 20px;  
}

input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]+label{
    cursor: pointer;
}
label{
    border-radius: 50%;
    border: 3px azure;
    background: transparent;
    transition: all 0.3s;
    transform: rotate(0deg);
    color: azure;
}
label:before{
    content: '';
    width: 25px;
    height: 25px;
    margin-right: 20px;
    background: none;
    border-radius: 50%;
    border: 3px azure solid;
    transform: rotate(360deg);
    display: inline-block;
    vertical-align: -6px;
    text-align:center;
}
label:hover{
    color: rgb(108, 187, 187);
}
input[type="checkbox"]:checked +label:before{
    content: '✓';
    font-size: 21px;
    color: azure;
    display: inline-block;
    vertical-align: middle;
    text-align:center;
}

.checky{
    display: inline;
}

/**/
.producto{
    margin: 1em;
    padding: 1em;
    display: inline-block;
    background: rgba(128, 128, 128, 0.356);
    border-radius: 10%;
    border: 1px gray dotted;
}

.producto > img{
    width: 200px;
    height: 200px;
    padding-bottom: 16px;
    border-bottom: 2px rgb(97, 97, 97) dotted;
}

.etiquetas{
    margin: 0%;
    padding: 0%;
}

.producto > div > a{
    padding-top: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color:azure;
    font-family: 'Times New Roman', Times, serif;
}

.nombre{
    padding-right: 0.25em;
    padding-bottom: 8px;
    border-right: 2px rgb(97, 97, 97) dotted;
}
.costo{
    padding-left: 0.25em;
    padding-right: 0.5em;
    padding-bottom: 8px;
    border-right: 2px rgb(97, 97, 97) dotted;
}

.carrito{

    text-decoration: none;
    display: inline;
    text-align: center;
    color:azure;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 0.25em;
    padding-bottom: 0%;
    margin: 0%;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: 8px;
    
}

/*---------------------------------------------------------------*/

footer{
    background: darkcyan;
    text-align: center;
    float: left;
    width: 100%;
    height: 5em;
    padding-top: 45px;
    padding-bottom: 0px;
}

#table_foot >ul{
    padding: 0%;
    list-style: none;
}

#table_foot >ul>li{
    display: inline-block;   
}

#table_foot>ul>li>a{
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding: 1.5em;
}
