* {
    margin: 0;
    padding: 0;
}

body{
    font: georgia;
    color: #212F3C;
    font-size: 20px;
    text-align: center;
}

.menu li{
    list-style: none;
    padding: 15px;
    font: bold 14px verdana;
    display: inline-block;
}

.container{
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
}

.imagen-encabezado{
    width: 200px;
    height: auto;
}

.header{
    background: #7DCEA0;
    color:#212F3C;
}
 .header a{
    color:#212F3C;
    text-decoration: none;
    font-size: 15px;
 }

.logo-navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
}