<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css'>

</head>

<body>

    <div id="elemento">

        <form class="box">

            <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                <input class="input" v-model="usuario.nombre" type="text" placeholder="e.g. Pepe">
                </div>
            </div>

            <div class="field">
                <label class="label">Apellidos</label>
                <div class="control">
                <input class="input" v-model="usuario.apellido" type="text" placeholder="e.g. Suarez">
                </div>
            </div>

            <div class="field">
                <label class="label">Edad</label>
                <div class="control">
                    <input class="input" v-model="usuario.edad" type="number" placeholder="e.g. 25">
                </div>
                </div>
        
            <div class="field">
            <label class="label">Correo</label>
            <div class="control">
                <input class="input" v-model="usuario.correo" type="email" placeholder="e.g. alex@example.com">
            </div>
            </div>

            <div class="field">
            <label for="pwd">Password:</label>
            <div class="control">
                <input class="input" v-model="usuario.contraseña" type="password" placeholder="e.g. **********">
            </div>
            </div>
            <div class="field">
                <button class="button is-success" v-on:click="registrar">Registrar mi cuenta</button>                    
                <p v-if="error" class="help is-danger">{{mensaje}}</p>
                <p v-else class="help is-success">{{mensaje}}</p>
            </div>
        
            <button class="button is-primary">Registrar mi cuenta</button>

        </form>
        
        <form action="/principal.html" align = "center">
            <button class="button is-link is-large">Pagina principal</button>
        </form>
    
    </div>
    
  
</body>
</html>